.benefits {
    font-weight: 300;
  }
  
  .benefits li {
    margin: 0.5rem 0;
  }
  
  .img-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  ._footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  ._footer button,
  ._footer a {
    width: 100%;
    font-size: small;
    padding: 1rem 2rem;
  }
  
  .h-logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 8px 0;
  }
  
  .header-nav {
    display: flex;
    justify-content: center;
    padding: 8px 0px;
  }
  
  .c-tabs-header {
    border-radius: 45px 45px 15px 15px;
    background-color: #2ca14813;
  }
  
  .c-tabs-header>div {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: small;
    font-weight: 300;
  }
  
  .c-tabs-header .sec-btn {
    padding: 4px 10px;
    font-size: x-small;
  }
  
  ul.tabs-header {
    display: flex;
    list-style: none;
    padding: 10px;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 45px;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 8px;
    row-gap: 4px;
    background-color: #fff;
  }
  
  ul.tabs-header>li {
    padding: 8px 30px;
    border-radius: 45px;
    margin: 0;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    font-size: small;
  }
  
  .tab {
    box-sizing: border-box;
    color: black;
    width: 100%;
    border-radius: 10px;
    min-height: 81vh;
    background-color: #f4f6fa;
    padding: 16px 20px;
    /* padding-bottom: 50vh; */
  }
  
  .tabs-light li {
    background-color: #ddd;
    color: #aaa;
  }
  
  .tabs-light li.tabs-selected {
    background-color: #fff;
    color: #83ffb3;
  }
  
  /* .tabs li {
    background-color: #ddd;
    color: #aaa;
  } */
  li.tabs-selected {
    background-color: #12b922;
    color: white;
  }
  
  @media only screen and (max-width: 550px) {
    ul.tabs-header>li {
      flex: 1 0 21%;
    }
  }
  
  @media only screen and (max-width: 440px) {
    ul.tabs-header>li {
      flex: 1 0 40%;
    }
  }

  body[data-theme='light'] {
    background-color: #ffffff;
    color: #000000;
  }

  body[data-theme='light'] .tabs,
body[data-theme='light'] .header-nav,
body[data-theme='light'] .c-tabs-header,
body[data-theme='light'] .theme-toggle {
  background-color: #f9f9f9;
  color: #000000;
}
  
  body[data-theme='dark'] {
    background-color: #000000;
    color: #ffffff;
  }
  
  
body[data-theme='dark'] h3,
body[data-theme='dark'] .action-btn
body[data-theme='dark'] .c-tabs-header,
body[data-theme='dark'] .theme-toggle {
  background-color: #1e1e1e;
  color: #ffffff;
}

  .theme-toggle {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  body[data-theme='dark'] * {
    background-color: inherit;
    color: inherit;
  }